<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="client_id" value=""/>    
    <add key="client_secret" value=""/>    
    <add key="grant_type" value="client_credentials"/>    
    <add key="urlAuthentication" value="https://id.twitch.tv/oauth2/token?"/>    
    <add key="urlClip" value="https://api.twitch.tv/helix/clips"/>    
    <add key="urlGame" value="https://api.twitch.tv/helix/games"/>  
  </appSettings>
</configuration>